#adminmenu #menu-posts-our-staffs .menu-icon-post div.wp-menu-image:before {
    content: "\f0c0";
    font-family: FontAwesome;
}
#adminmenu #menu-posts-cupid_gallery .menu-icon-post div.wp-menu-image:before {
    content: "\f03e";
    font-family: FontAwesome;
}

#adminmenu #menu-posts-cupid_classes .menu-icon-post div.wp-menu-image:before {
    content: "\f1ae";
    font-family: FontAwesome;
}