@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('../fonts/ProximaNovaA-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Regular.otf')  format('opentype'),
  url('../fonts/ProximaNovaA-Regular.woff') format('woff'), url('../fonts/ProximaNovaA-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Bold';
  src: url('../fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Bold.otf')  format('opentype'),
  url('../fonts/ProximaNovaA-Bold.woff') format('woff'), url('../fonts/ProximaNovaA-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Semibold';
  src: url('../fonts/ProximaNovaA-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Semibold.otf')  format('opentype'),
  url('../fonts/ProximaNovaA-Semibold.woff') format('woff'), url('../fonts/ProximaNovaA-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Semibold.svg#ProximaNovaA-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-LightIt';
  src: url('../fonts/ProximaNovaA-LightIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-LightIt.otf')  format('opentype'),
  url('../fonts/ProximaNovaA-LightIt.woff') format('woff'), url('../fonts/ProximaNovaA-LightIt.ttf')  format('truetype'), url('../fonts/ProximaNovaA-LightIt.svg#ProximaNovaA-LightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Light';
  src: url('../fonts/ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Light.otf')  format('opentype'),
  url('../fonts/ProximaNovaA-Light.woff') format('woff'), url('../fonts/ProximaNovaA-Light.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'COCOGOOSE';
  src: url('../fonts/COCOGOOSE.eot?#iefix') format('embedded-opentype'),  url('../fonts/COCOGOOSE.woff') format('woff'),
  url('../fonts/COCOGOOSE.ttf')  format('truetype'), url('../fonts/COCOGOOSE.svg#COCOGOOSE') format('svg');
  font-weight: normal;
  font-style: normal;
}