.el-layout{
  font-family: $font-regular;
  font-size: 12px;
}

.fade-effect{
  @include opacity-important(0);
  @include transition(1s);
}
.fade-in{
  @include opacity-important(1);
  @include transition(2s);
}
.fade-in-fast{
  @include opacity-important(1);
  @include transition(1s);
}

.el-icon-round{
  @include square(24px);
  font-size: $font-size-standard !important;
  line-height: 24px !important;
  text-align: center;
  border-radius: 12px;
  padding-left: 1px;
  box-sizing: border-box;

  background: #fff;
  color: $main-color;
}

.el-icon-round-reverse{
  @extend .el-icon-round;

  background: none;
  color: $color-contrast;
  border: 2px solid $color-contrast;
}

.el-icon-round-phone{
  line-height: 22px !important;
  margin-right: 16px;
}

.el-icon-round-portuguese{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-indent: -9999px;
  display: inline-block;
  background: transparent url("../images/layout/flag-portuguese.png") no-repeat -5px -2px;
}

.el-icon-round-english{
  margin-right: 16px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-indent: -9999px;
  display: inline-block;
  background: transparent url("../images/layout/flag-english.png") no-repeat -5px -2px;
}

.el-box-phone{
  display: none;

  @media (min-width: $screen-xs-min) {
    display: inline-block;
  }
}

.el-icon-auxiliary{
  float: right;
  margin-left: 12px;
  @include transition(0.5s);

  &:hover{
    background: rgba(255, 255, 255, 0.8);
    @include transition(0.5s);
  }
}

.layout-featured{
  background: $main-color;
  color: $color-contrast;
}

.layout-featured a{
  color: $color-contrast;
}

.el-header-auxiliary{
  @extend .layout-featured;
  @include clearfix;
  padding: 12px 10px;

  a:hover{
    color: $color-contrast;
  }

  @media (min-width: $screen-sm-min) {
    padding: 12px 30px;
  }
}

.el-header-phone{
  display: block;
  float: left;
}

.el-header-main{
  @include clearfix;
  z-index: 1000;
}

.el-logo{
  margin: 8px 0 8px 10px;
  float: left;
  display: block;
  width: 136px;
  height: 46px;
  text-indent: -9999px;
  background: transparent url("../images/layout/logo.png") no-repeat top left;
  background-size: 100% 100%;

  @media (min-width: $screen-sm-min) {
    margin: 8px 0 8px 51px;
    width: 187px;
    height: 64px;
  }
}

.el-header-menu{
  float: right;

  ul{
    @include list-unstyled;
    display: block;
    overflow: hidden;


    li{
      float: left;
      margin: 20px 10px 18px 0;
      font-size: 18px;
      height: 24px;
      line-height: 24px;

      a{
        color: $main-color;
        @include transition(all 0.5s linear);
        padding: 2px 10px;
      }
      a:hover{
        text-decoration: none;
        color: $color-article;
        @include transition(all 0.5s linear);
      }
    }
    .el-featured{
      a{
        background: $main-color;
        padding: 2px 16px;
        border-radius: 24px;
        color: $color-contrast;
      }
      a:hover{
        color: $color-contrast;
        background: $main-color-hover;
      }
    }
    @media (min-width: $screen-sm-min) {
      ul{
        margin-bottom: 10px;
      }
      li{
        margin: 28px 45px 18px 0;
      }
      .el-featured{
        a{
          padding: 2px 22px;
        }
      }
    }
  }
}

.el-btn-contrast{
  @include el-button($main-color, $color-contrast, $main-color, $main-color-hover, $color-contrast, $main-color-hover);
}

.el-btn-outline{
  @include el-button(none, $color-contrast, $color-contrast, $color-contrast, $main-color-hover, $color-contrast);
}

.el-read-more{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 45px;

  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.el-footer{
  padding-top: 25px;
  font-family: $font-light;

  nav ul{
    @include list-unstyled;

    a{
      color: $color-article;
      font-size: $font-size-standard;
    }
  }
  .row{
    margin-left: -60px;
    margin-right: -60px;
    max-width: 1300px;
    @include center-block;
  }
  .row > div{
    padding-left: 60px;
    padding-right: 60px;
  }
  h3{
    font-size: $font-size-standard;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    font-size: $font-size-standard;
  }
  &.el-footer-page{
    @include box-sizing(border-box);
    font-family: $font-light;
    min-height: 180px;
    padding-top: 20px;

    > div{
      padding-left: 15px;
      padding-right: 15px;
    }
    .row{
      margin-left: -15px;
      margin-right: -15px;
      max-width: none;

      > div{
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 0;
      }
    }
    .row > div{
      padding-left: 15px;
      padding-right: 15px;
    }
    nav ul{
      margin: auto;
    }
    .el-footer-logo{
      text-align: center;
    }
    .el-footer-logo-link{
      background: transparent url("../images/layout/logo-footer-all.png") top left no-repeat;
      background-size: 100% 100%;
      width: 187px;
      height: 64px;
      text-indent: -9999px;
      display: inline-block;
      margin-bottom: 20px;
    }

    @media (min-width: $screen-sm-min) {
      > div{
        @include center-block;
        position: relative;
        padding-left: 295px;
        max-width: 1250px;
      }
      .el-footer-logo{
        position: absolute;
        top: 20px;
        left: 15px;
        text-align: left;

        a{
          width: 187px;
          height: 64px;
        }
      }
      nav ul{
        margin: 0;
      }
    }
  }
}
.el-email{
  word-wrap: break-word;
}
.el-page-title-wrapper-blog-layout{
  padding: 0 !important;
}
.el-blog-heading{
  max-width: 606px;
  width: 100%;
  position: relative;
  margin: 15px auto 0 auto;
}
.el-blog-heading h2{
  width: 67%;
  display: block;
  font-size: $font-blog-size-title;
  font-family: $font-blog-title;
  color: $color-contrast;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.el-blog-content{
  max-width: 410px;
  width: 100%;
  margin: auto;
  font-size: $font-blog-size-text;
  font-family: $font-blog-text;
}
.el-blog-content h3{
  font-size: $font-blog-size-title-h3;
  font-family: $font-blog-title;
  color: $font-blog-text-color;
  margin-top: 30px;
  margin-bottom: 30px;
}
.el-blog-content p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.el-blog-content p:last-child{
  margin-bottom: 0;
}
.el-blog-blockquote{
  font-family: $font-blog-title;
  font-size: $font-blog-size-title-h3-full;
  line-height: $font-blog-size-title-h3-full + 8px;
  color: $font-blog-blockquote;
  border-left: none;
  margin: 0;
  padding: 0;
}
.el-blog-blockquote2{
  @extend .el-blog-blockquote;
  color: $font-blog-blockquote2-color;
}
.el-blog-full .el-blog-heading{
  max-width: 1000px;
}
.el-blog-full .el-blog-heading h2{
  font-size: $font-blog-size-title-full;
}
.el-blog-full .el-blog-content h3{
  font-size: $font-blog-size-title-h3-full;
  line-height: $font-blog-size-title-h3-full + 8px;
}
.el-blog-full .el-blog-content{
  max-width: 670px;
  font-size: $font-blog-size-text-full;
  line-height: $font-blog-size-text-full + 8px;
}
.el-blog-content h1{
  margin-top: 14px;
  font-size: $font-blog-size-title-full;
  font-family: $font-blog-title;
  color: $font-blog-text-color;
}
.el-blog-content .el-image-legend{
  font-size: 11px;
}
.el-blog-inner{
  margin-top: 0;
  padding: 10px 0 !important;
}
@media (max-width: $screen-sm-max) {
  .el-blog-heading{
    background-size: auto 100%;
    background-position: center center;
  }
  .el-blog-heading > h2{
    font-size: $font-blog-size-title;
    position: static;
    bottom: 0;
    left: 50%;
    transform: none;
    padding: 20px 25px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .el-blog-full .el-blog-heading h2{
    width: 100%;
    font-size: $font-blog-size-title;
    padding-left: 25px;
    padding-right: 25px;
  }
  .el-blog-content h1{
    font-size: $font-blog-size-title;
  }
}