$screen-custom1: 550px;
$screen-custom2: 930px;
$screen-custom3: 1280px;

$main-color: #E3388C;
$main-color-hover: #CE1D7A;
$color-contrast: #FFF;
$color-article: #5D5D5D;
$color-overlay: rgba(0, 0, 0, 0.3);
$banner-main-h2-xs: 26px;
$banner-main-h2-md: 50px;
$banner-main-h2-lg: 75px;
$font-size-title: 49px;
$font-size-title-xs: 30px;
$font-size-xs: 25px;
$margin-lr: 15px;
$font-size-page-content: 18px;
$font-regular: 'ProximaNovaA-Regular';
$font-bold: 'ProximaNovaA-Bold';
$font-semibold: 'ProximaNovaA-Semibold';
$font-light-italic: 'ProximaNovaA-LightIt';
$font-light: 'ProximaNovaA-Light';
$screen-size-max: 1200px;